$strong-red: #b51513;
$light-red: #f6535b;

main {
  height: 100%;
  background: linear-gradient($light-red, $strong-red);
}

.title {
    border-bottom: 3px solid #f44750;
}

.my-nav {
    border-bottom: 3px solid #ececed;
}

.full-height {
    height: 100%;
}