<main>
  <div class="row">
    <div class="col-3 py-4 d-flex justify-content-center title">
      <h4 class="font-weight-bold font-white">MANGO</h4>
    </div>
    <div class="col white my-nav">
      B
    </div>
  </div>
  <div class="row full-height">
    <div class="col-3 font-white">
      <button class="btn my-3 dash-link text-left">
        <i class="fas fa-chart-pie"></i>
        <span class="pl-2">OVERVIEW</span>
      </button>
      <button class="btn my-3 dash-link text-left">
        <i class="fas fa-shopping-cart"></i>
        <span class="pl-2">SALES</span>
      </button>
      <button class="btn my-3 dash-link text-left">
        <i class="far fa-money-bill-alt"></i>
        <span class="pl-2">FINANCIAL</span>
      </button>
      <button class="btn my-3 dash-link text-left">
        <i class="fas fa-notes-medical"></i>
        <span class="pl-2">PROCUREMENT</span>
      </button>
      <button class="btn my-3 dash-link text-left">
        <i class="fas fa-box-open"></i>
        <span class="pl-2">INVENTORY</span>
      </button>
    </div>
    <div class="col white full-height">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
