$strong-red: #d0181a;
$light-red: #fa3f4a;

main {
  height: 100%;
  background: linear-gradient($light-red, $strong-red);
}

.header {
    padding: 10px 15px;
    border-bottom: 1px solid rgba(255,255,255,.2);
    padding-right: 80px;
}

.title {
    font-size: 20px;
    font-weight: 400;
    margin: auto 0;
}

.my-nav {
    border-bottom: 1px solid #e7e7e7;
}

.side-bar {
    width: 260px !important;
    max-width: 260px !important;
    min-width: 260px !important;
}

.full-height {
    height: 100%;
}

.dash-link {
    width: calc(100% - 10px);
    background-color: inherit;
    color: white;
    margin: 5px 5px;
    padding: 12px 15px;
    font-size: 12px;
    font-weight: 600;
    
    &:hover {
        background: rgba(255,255,255,.13);
        opacity: 1;
    }

    .active {
        background-color: rgba(255, 255, 255, 0.2);
    }
}

.dash-link.active {
    background-color: rgba(255, 255, 255, 0.2);
}