$strong-red: #d0181a;
$light-red: #fa3f4a;

main {
  height: 100%;
  background: linear-gradient($light-red, $strong-red);
}

.header {
    padding: 10px 15px;
    border-bottom: 1px solid rgba(255,255,255,.2);
}

.title {
    font-size: 18px;
    font-weight: 400;
    margin: auto 0;
}

.my-nav {
    border-bottom: 1px solid #e7e7e7;
}

.side-bar {
    width: 260px !important;
    max-width: 260px !important;
    min-width: 260px !important;
}

.full-height {
    height: 100%;
}

.dash-link {
    width: 100%;
    background-color: inherit;
    color: white;
    padding-left: 3em;
    
    @media (max-width: 1000px) {
        padding-left: 0.5em;
    }
}

.dash-link.active {
    background-color: rgba(255, 255, 255, 0.2);
}