<!-- Breadcrumbs
<nav class="breadcrumb">
  <a class="breadcrumb-item" href="#">Dashboard</a>
  <span class="breadcrumb-item active">Procurement</span>
</nav>
-->

<div class="row">
  <div class="col-sm-12 col-md-4">
    <app-acounts-payable [timeframe]="timeframe.getTimeObject()"></app-acounts-payable>
    <app-payment-delay></app-payment-delay>
  </div>
  <div class="col-sm-12 col-md-8">
    <app-top-suppliers></app-top-suppliers>
    <app-purchases-graph></app-purchases-graph>
  </div>
</div>
