<!-- Breadcrumbs
<nav class="breadcrumb">
  <a class="breadcrumb-item" href="#">Dashboard</a>
  <a class="breadcrumb-item">Product</a>
  <span class="breadcrumb-item active">ID</span>
</nav>
-->

<div class="row">
  <div class="col-sm-12 col-md-4">
    <app-product-data [code]="code"></app-product-data>
    <div class="kpi-container">
      <h4>KPI Value</h4>
      <p>A small very description.</p>
      <div class="kpi-content d-flex justify-content-center kpi-value">
        10K
      </div>
    </div>
    <app-unit-in-stock [code]="code"></app-unit-in-stock>
  </div>
  <div class="col-sm-12 col-md-8">
    <div class="kpi-container">
      <h4>KPI Table</h4>
      <p>A small very description.</p>
      <div class="kpi-content">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">NAME</th>
              <th scope="col">QUANTITY</th>
              <th scope="col">AMOUNT</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row">1</td>
              <td>John Doe</td>
              <td>10</td>
              <td>2K €</td>
            </tr>
            <tr>
              <td scope="row">2</td>
              <td>...</td>
              <td>...</td>
              <td>...</td>
            </tr>
            <tr>
              <td scope="row">3</td>
              <td>...</td>
              <td>...</td>
              <td>...</td>
            </tr>
            <tr>
              <td scope="row">4</td>
              <td>...</td>
              <td>...</td>
              <td>...</td>
            </tr>
            <tr>
              <td scope="row">5</td>
              <td>...</td>
              <td>...</td>
              <td>...</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="kpi-container">
      <h4>KPI Graph</h4>
      <p>A small very description.</p>
      <canvas baseChart [data]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [chartType]="lineChartType"
        (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>