<div class="col-sm-12 col-md-12 mt-3">
  <div class="kpi-container">
    <h4>Top Selling Products</h4>
    <p>A small very description.</p>
    <div class="kpi-content">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">NAME</th>
            <th scope="col">SOLD UNITS</th>
            <th scope="col">UNIT PRICE</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td scope="row">{{product.name}}</td>
            <td>{{product.unitSold}}</td>
            <td>{{product.price}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
