<div class="kpi-container">
    <h4>Top Consumers</h4>
    <div class="kpi-content">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">CONSUMER</th>
            <th scope="col">TOTAL SPENT</th>
            <th scope="col">NUM PURCHASES</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of clients" (click)="clickConsumer(client.id)">
            <td scope="row">{{client.id}}</td>
            <td>{{client.total | currency: 'EUR'}}</td>
            <td>{{client.nPurchases}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  