<div class="kpi-container">
  <h4>Product Information</h4>
  <p>Detailed information regarding {{product.Artigo}}.</p>
  <div class="kpi-content">
    <div>
      <span class="badge badge-primary mr-3">CODE</span>
      <span class="product-info">{{product.Artigo}}</span>
    </div>
    <div>
      <span class="badge badge-primary mr-3">Name</span>
      <span class="product-info">{{product.Descricao}}</span>
    </div>
    <div>
      <span class="badge badge-primary mr-3">Bar Code</span>
      <span class="product-info">{{product.CodBarras}} €</span>
    </div>
    <div>
      <span class="badge badge-primary mr-3">Suppliers</span>
      <span class="product-info">Apple</span>
    </div>
    <hr>
    <div>
      <span class="badge badge-info mr-3">Avg Cost</span>
      <span class="product-info">{{product.CustoMedio}} €</span>
    </div>
  </div>
</div>
