<!-- Breadcrumbs
<nav class="breadcrumb">
  <a class="breadcrumb-item" href="#">Dashboard</a>
  <span class="breadcrumb-item active">Sales</span>
</nav>
-->

<div class="row">
  <div class="col-sm-12 col-md-4">
    <app-profit-margin [timeframe]="timeframe.getTimeObject()"></app-profit-margin>
    <div class="kpi-container">
      <h4>KPI Value</h4>
      <p>A small very description.</p>
      <div class="kpi-content d-flex justify-content-center kpi-value">
        74 %
      </div>
    </div>
    <!-- Meter aqui top clients -->
    <div class="kpi-container">
      <h4>KPI Table</h4>
      <p>A small very description.</p>
      <div class="kpi-content">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">STORE</th>
              <th scope="col">QUANTITY</th>
              <th scope="col">AMOUNT</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row">1</td>
              <td>Downtown</td>
              <td>12K</td>
              <td>3M €</td>
            </tr>
            <tr>
              <td scope="row">2</td>
              <td>...</td>
              <td>...</td>
              <td>...</td>
            </tr>
            <tr>
              <td scope="row">3</td>
              <td>...</td>
              <td>...</td>
              <td>...</td>
            </tr>
            <tr>
              <td scope="row">4</td>
              <td>...</td>
              <td>...</td>
              <td>...</td>
            </tr>
            <tr>
              <td scope="row">5</td>
              <td>...</td>
              <td>...</td>
              <td>...</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-8">
    <app-cumulative-sales></app-cumulative-sales>
    <app-sales-per-country-graph [timeframe]="timeframe.getTimeObject()"></app-sales-per-country-graph>
    <app-top-sales [timeframe]="timeframe.getTimeObject()"></app-top-sales>
  </div>
</div>
