<div class="kpi-container">
  <h4>Top Sales</h4>
  <p>A small very description.</p>
  <div class="kpi-content">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">NET TOTAL</th>
          <th scope="col">CUSTOMER</th>
          <th scope="col">DATE</th>
          <th scope="col">PRODUCTS BOUGHT</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sale of sales">
          <td scope="row">{{sale.netTotal}}</td>
          <td>{{sale.customer}}</td>
          <td>{{sale.date}}</td>
          <td>
            <span *ngFor="let p of sale.products">
              <b>{{p.Quantity}}</b>x<b>{{p.UnitPrice}}€</b> {{p.Description}}; 
            </span>
          </td>
        </tr>
        <!-- <tr>
          <td scope="row">...</td>
          <td>...</td>
          <td>...</td>
          <td>...</td>
        </tr> -->
      </tbody>
    </table>
  </div>
</div>
