/* You can add global styles to this file, and also import other style files */

// VARIABLES //
$strong-red: #BB0502;
$light-red: #FB404B;
$light-grey: #777777;
$font-family-heading: 'Montserrat', sans-serif;
$font-family-base: Roboto, "Helvetica Neue", Arial, sans-serif;

// STYLES //
html,
body {
    height: 100%;
    overflow-y: hidden;
    font-family: $font-family-base;
}